<wicket:panel>
    <h2 wicket:id="title">Subtitle - Annotateds</h2>
    <form wicket:id="annotatedListForm">

        <!-- The table is a panel whose layout is determined programmaticaly. -->
        <table wicket:id="elements"></table>

    </form>
</wicket:panel>