<wicket:panel>


<a class="black-button" style="width: 60px; height: 25px; font-size: 16px; line-height: 20px; margin: 2px auto; float: left;" href="#" wicket:id="view">view</a>
<a class="black-button" style="width: 60px; height: 25px; font-size: 16px; line-height: 20px; margin: 2px auto; float: left;" href="#" wicket:id="edit">edit</a>
<a class="black-button" style="width: 60px; height: 25px; font-size: 16px; line-height: 20px; margin: 2px auto; float: left;" href="#" wicket:id="delete">delete</a>
</wicket:panel> 

