<wicket:panel>
    <h2 wicket:id="componentTitle">Subtitle - components</h2>
    <form wicket:id="componentForm">

        <!-- The components table is a panel whose layout is determined programmaticaly. -->
        <table wicket:id="components"></table>

    </form>
</wicket:panel>