<wicket:panel>
    <h2 wicket:id="parameterTitle">Subtitle - parameters</h2>
    <form wicket:id="parameterForm">

        <!-- The parameters table is a panel whose layout is determined programmaticaly. -->
        <table wicket:id="parameters"></table>

    </form>
</wicket:panel>