/* Signalosome       */
/* BioModels.net Team */


/* comments */
.comment {
    margin-left: 1em;
}
.comment p {
    margin-top: 0;
}

/* nice style for lists */
ul.signal_1 {
    list-style-type: none;
    list-style-image: url('img/mini_puce.png');
}

/* display of qualifier in annotations */
span.anno_qualifier {
    font-style: italic;
    margin-right: 1em;
}

/* external links opened in a popup (displayed with an arrow) */
a.external:link, a.external:visited {
    background: transparent url(img/external_link.gif) no-repeat scroll right center;
    padding-right: 13px;
}
a.external:hover, a.external:active {
    background: transparent url(img/external_active.gif) no-repeat scroll right center;
    padding-right: 13px;
}


/* Generic, functional or activity-oriented icons */
@font-face {
    font-family: 'EBI-Functional';
    src:url('fonts/EBI-Functional/EBI-Functional.eot');
    src:url('fonts/EBI-Functional/EBI-Functional.eot?#iefix') format('embedded-opentype'),
    url('fonts/EBI-Functional/EBI-Functional.woff') format('woff'),
    url('fonts/EBI-Functional/EBI-Functional.svg#EBI-Functional') format('svg'),
    url('fonts/EBI-Functional/EBI-Functional.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'utility-icons';
    src:url('fonts/utility-icons/utility-icons.eot');
    src:url('fonts/utility-icons/utility-icons.eot?#iefix') format('embedded-opentype'),
    url('fonts/utility-icons/utility-icons.woff') format('woff'),
    url('fonts/utility-icons/utility-icons.svg#utility-icons') format('svg'),
    url('fonts/utility-icons/utility-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.icon {
    text-decoration: none;
    font-style: normal;
}

.icon-functional:before {
    font-family: 'EBI-Functional';
    /* font-size: 123.1%; */
    font-size: 100%;
    content: attr(data-icon);
    
    margin: 0 0.3em 0 0;
}
