
/* table of content */
#toc {
  float: right;
  border: 1px solid black;
  border-color: #BFBFBF;
  padding-right: 1em;
  padding-top: 1em;
  margin: 5px 2px 1em 1em;    /* margin-top margin-right margin-bottom margin-left */
  background-color: white;
}

#toc .title {
  text-align: center;
}

#toc .items {
  margin-left: 0;
  padding-left: 2em;
}